@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container p-5">
    <div class="row pt-3 align-items-center">
        <div class="col-3">
            <h2 class="text-primary">Placeholder</h2>
        </div>
        <div class="col-9 text-end">
            <div class="d-flex justify-content-evenly">
                <h2 class="text-secondary">Placeholder</h2>
            </div>
        </div>
    </div>
    <h3 class="text-secondary">Placeholder.</h3>
</div>
