@page
@model DatabaseManager.Web.Pages.Tables.Order.EditModel
@{
}

<style>
    input[readonly] {
        background-color: GrayText !important;
    }
</style>

<div class="container p-3">
    <form method="post">
        <div class="row pt-4 align-items-center">
            <div class="row pb-2">
                <h2 class="text-primary">Edit @Model.ToString()</h2>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="cOrder.Id" />
            <div class="form-floating py-2 col-12">
                <input asp-for="COrder.Id" class="form-control" aria-required="true" readonly="" />
                <label asp-for="COrder.Id"></label>
                <span asp-validation-for="COrder.Id" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-4">
                <input asp-for="COrder.CustomerId" class="form-control" aria-required="true" />
                <label asp-for="COrder.CustomerId"></label>
                <span asp-validation-for="COrder.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-4">
                <input asp-for="COrder.OrderDate" class="form-control" aria-required="true" type="date" />
                <label asp-for="COrder.OrderDate"></label>
                <span asp-validation-for="COrder.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-4">
                <input asp-for="COrder.TotalAmount" class="form-control" aria-required="true" type="number" />
                <label asp-for="COrder.TotalAmount"></label>
                <span asp-validation-for="COrder.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-4">
                <select asp-for="COrder.Status" class="form-control">
                    <option value="">Select</option>
                    @foreach (var option in Utilities.StaticDetails.OrderStatuses)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
                <label asp-for="COrder.Status"></label>
            </div>
            <p>Optional:</p>
            <div class="form-floating py-2 col-4">
                <input asp-for="COrder.GcRecord" class="form-control" aria-required="true" type="date" />
                <label asp-for="COrder.GcRecord"></label>
                <span asp-validation-for="COrder.GcRecord" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
            </div>
            <div class="form-floating py-2 col-6">
                <button class="w-100 btn btn-lg btn-primary" asp-page="/Tables/Order/Edit">Edit Order</button>
            </div>
            <div class="form-floating py-2 col-6">
                <a class="btn btn-outline-secondary w-100" asp-page="/Tables/Order/Index">Back to list</a>
            </div>
        </div>
    </form>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}